<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>Servlet.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comentarios</servlet-name>
        <servlet-class>Servlet.Comentarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AgregarVideo</servlet-name>
        <servlet-class>Servlet.AgregarVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarVideo</servlet-name>
        <servlet-class>Servlet.EditarVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVideo</servlet-name>
        <servlet-class>Servlet.EliminarVideo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comentarios</servlet-name>
        <url-pattern>/Comentarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarVideo</servlet-name>
        <url-pattern>/AgregarVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarVideo</servlet-name>
        <url-pattern>/EditarVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVideo</servlet-name>
        <url-pattern>/EliminarVideo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
